@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#answer{
  border: 2px solid blue;
  border-radius: 10px;

  margin-right:0px;
  
  background:white;
  margin-top:0px !important;
top: 0px !important;

}
.gcsc-more-maybe-branding-root{
  display:none !important;
}
#answer>img{
    border: 2px solid blue;
  border-radius: 10px;

   margin-top:0px;
   margin-left:30px;
}
#answer>h1{
    font-family: 'Ubuntu', sans-serif;

  font-weight:normal;
}
#answer>p{
 font-family: 'Montserrat', sans-serif;

  font-weight:normal;
  margin-left: 2px;
}
.hiding{
  display:none;
}
button, ul, ol, li {
  box-sizing: border-box;
}
#BingTranslatorLinkImg, #FacebookImg, #ShareImg, img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"], .gm-style-cc, img[src='https://ssl.microsofttranslator.com/static/25157698/img/binglogo_ctf.png']{
display: none !important;
visibility: hidden !important;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
img:hover{

}
h2{
	font-family: arial;
  font-size: 40px;
	font-weight: normal;
}
.coolrandomfont{
	font-family: 'TypefaceEOT', 'TypefaceTTF', 'TypefaceSVG';
}
img{
 transition: 10s ;
}
#speaknow:hover{
-webkit-transform:rotate(-2000deg) !important;
  transform:rotate(-2000deg) !important;
}
#speaknow{
 transition: 10s !important;
}

.gsc-clear-button{
 display:none !important;
}
.askew {
  position:relative;
  top:50px;
  -webkit-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
.cse input.gsc-input,input.gsc-input{
background-image:none !important;

}
.support{
 display: none;
	font-family: 'TypefaceEOT', 'TypefaceTTF', 'TypefaceSVG';
	  margin: 0 0 30px 0;
}

input[type=search] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: white;
    padding: 12px 40px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
    padding-right: 50px;
    background: url(https://tebahpla.github.io/searchbutton.png) no-repeat scroll 250px 7px;
padding-left:30px;
}
input[type=search]:hover {
    width: 80%;
    background: url(https://tebahpla.github.io/searchbutton.png) no-repeat scroll 95% 7px;
    padding-left:30px;
	border: 2px solid #30a300;
}
input[type=search]:focus {
    width: 38%;
    background: url(https://tebahpla.github.io/searchbutton.png) no-repeat scroll 95% 7px;
	border: 2px solid blue;
}
input[type=search]:active {
    width: 99%;
	border: 2px solid yellow;
}

input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    
   
    height:36px;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
body {
        }
  #mySidenav a {
    position: fixed !important;
    right: -188px !important;
    transition: 0.5s !important;
    padding: 20px !important;
    width: 170px !important;
    text-decoration: none !important;
    font-size: 20px !important;
    color: white !important;
    border-radius: 5px 5px 5px 5px !important;
}
/* sidebar */
#mySidenav a:hover {
    right: 0 !important;
 color: white !important;
	postion:relative;
}
#hideMe{
  transition: opacity 0.3s !important;
 
  
}
#about {
    top: 240px !important;
    background-color: purple !important;
 color: white !important;
}
#setr {
    top: 300px !important;
    background-color: #2196F3 !important;
    cursor:pointer !important;
 color: white !important;
  }
#projects {
    top: 360px !important;
    background-color: #f44336 !important;
    color: white !important;
}
#contact {
    top: 200px !important;
    background-color: #555 !important;
     color: white !important;
}/* sidebar over */
iframe{
  
  border-color: white;  
  
}
    img:not(.pooemoji) {
        
    
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    
        }
@font-face {
			font-family: 'TypefaceSVG';
			src: url('Typeface.svg#Typeface') format('svg');
		}
	
		@font-face {
			font-family: 'TypefaceTTF';
			src: url('Typeface.ttf') format('truetype');
		} 
		
		@font-face {
			font-family: 'TypefaceEOT';
			src: url('Typeface.eot');
		} 
// to use that odd font, put this in the style of any element
// font-family: 'TypefaceEOT', 'TypefaceTTF', 'TypefaceSVG';
//			margin: 0 0 30px 0;

  meta{
        background: white;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        
  }
  np{
    color: blue;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration :none;
	  
  }
  iframe{
  
  border-color: white;  
  
}
a{
    text-decoration: none !important;
    color: blue;
    cursor: pointer !important;
 transition: 0.5s !important;
	position: relative;
}
 a:hover{
     color: red !important;
	  -webkit-transform:rotate(-1deg) !important;
  transform:rotate(-1deg) !important;
        }
button{
 cursor: pointer;
}
p{
color: black !important;
}
textarea {
  width: 400px;
  height: 200px;
  font-family: arial;
  font-size: 40px;
}

