input{
 cursor: pointer;      
}
body {
        }
  #mySidenav a {
    position: fixed;
    right: -188px;
    transition: 0.5s;
    padding: 20px;
    width: 170px;
    text-decoration: none;
    font-size: 20px;
    color: white !important;
    border-radius: 5px 5px 5px 5px;
}
/* sidebar */
#mySidenav a:hover {
    right: 0;
 color: white !important;
}
#hideMe{
  transition: opacity 0.3s;
 
  
}
#about {
    top: 240px;
    background-color: purple;
 color: white !important;
}
#setr {
    top: 300px;
    background-color: #2196F3;
    cursor:pointer;
 color: white !important;
  }
#projects {
    top: 360px;
    background-color: #f44336;
    color: white !important;
}
#contact {
    top: 200px;
    background-color: #555
     color: white !important;
}/* sidebar over */
iframe{
  
  border-color: white;  
  
}
    img {
        background: white;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    
        }
  meta{
        background: white;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        
  }
  np{
    color: blue;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration :none;
  }
  iframe{
  
  border-color: white;  
  
}
a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
button{
 cursor: pointer;
}

